.grid_template_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.club {
    display: flex;
    width:  100%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}
.club .clubContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    aspect-ratio: 1;
    border: 1px solid silver;
    border-radius: 16px;
    background-color: var(--color-primary);
    gap: 12px;
}
.club .clubContainer > div {
    width: 150px;
    aspect-ratio: 1;
    background-size: cover;
}

@media (max-width : 758px) {
    .grid_template_3 {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 2rem;
        gap: 1rem;
    }
}