.navBar {
    display: flex;
    align-items: center;
    height: 9vmin;
    background-color: var(--color-white);
    padding: 0 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.navBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    display: flex;
    height: 56px;
    object-fit: contain;
}

.burger{
    width: 48px;
    aspect-ratio: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.burger img {
    width : 90%
}

.navigationphone {
    display: none;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
.navigation ul {
    display: flex;
    align-items: center;
}
.navigation li {
    list-style: none;
    padding: 12px 20px;
    /* position: relative; */
}
.navigation li .menu_overlay {
    position: absolute;
    top: 72px ;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.711);
    backdrop-filter: blur(18px);
    padding: 0px 32px;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.navigation li[data-open-menu = 'false'] .menu_overlay{
    height: 0;
    padding: 0px 32px;
    opacity: 0;
}
.navigation li[data-open-menu = 'true'] .menu_overlay{
    height: max-content;
    padding: 64px 32px;
    opacity: 1;
}


.navigation li a {
    text-decoration: none;
    color: var(--color-gray-85);
}

.menuClub {
    display: flex;
    align-items: flex-start;
}

.blockClub {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.blockClub > div:nth-child(1) {
    width: 75px;
    aspect-ratio: 1;
    border-radius: 12px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.blockClub > div:nth-child(1) > div {
    width: 60%;
    aspect-ratio: 1;
    border-radius: 12px;
    background-color: var(--color-primary);
    background-size: contain;
}

.blockClub > div:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
}
.blockClub > div:nth-child(3) {
    font-size: 14px;
    font-weight: 300;
}

@media (max-width : 758px) {
    .navBar {
        display: flex;
        align-items: center;
        height: 58px;
        background-color: var(--color-white);
        padding: 0 7px;
    }
    
    .logo img {
        height: 38px;
    }

    .navigationphone {
        display: block;
        position: fixed;
        background-color : white;
        width : 102%;
        left: -7px;
        top: 58px;
        box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.185);
        transition: all .3s ease-in-out;
        overflow: hidden;
    }

    .navigationphone[data-isOpen = 'false']{
        height: 0;
    }
    .navigationphone[data-isOpen = 'true']{
        height: 200px;
    }
    

    .navigationphone ul {
        padding: 0;
        list-style: none;
        position: relative;
    }

    .navigationphone li {
        padding: 9px 20px;
        text-align: right;
        position: relative;
    }

    .navigationphone li a {
        color: black;
        text-decoration: none;

    }
    .navigationphone li + li::before {
        content: '';
        width: 100%;
        background-image: linear-gradient(to right, transparent 30%, rgb(235, 235, 235));
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .navigationphone .member {
        position: absolute;
        width: 110px;
        aspect-ratio: 1;
        background-color: var(--color-primary) ;
        border-radius: 1rem;
        top: 25px;
        
        left: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out .2s;
    }

    .navigationphone[data-isOpen = 'false'] .member{
        opacity: 0;
        transform: translateX(16px);
    }
    .navigationphone[data-isOpen = 'false'] .member > .login > div:first-child {
        opacity: 0;
        transform: translateX(-12px);
    }

    .navigationphone .member > .login > div {
        text-align: center;
        transition: all .5s ease-in-out .2s;
    } 

    .navigationphone .member * {
        color: white;
        text-decoration: none;
        line-height: 1.1;
    }

    .navigation {
        display: none;
    }

    .burger {
        display: flex;
    }

    .burger img {
        width : 50%
    }
}