button {
    padding: 2vmin 4vmin;
    font-size: calc(7px + 1vmin);
    border-radius: 30px ;
    border: 1px solid transparent;
    font-weight: 600;
    color: #0061cf;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
button:hover {
    border: 1px solid rgb(200, 211, 214);
}

.ce-block__content {
    position: relative;
    max-width: 100% !important;
    margin: 0 auto;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;
}

.ce-toolbar__content {
    max-width: 100% !important;
    margin: 0 auto;
    position: relative;
}